/access-token/client_secret.json
.env
.env_produccion
/vendor
/.vscode
tareas.md
composer.lock 
/access-token/credentials.json 
composer.phar 
tareas.md
README.MD
ideas_paracciones_clientes.md
/master_admin/uploads/*.png
/master_admin/uploads/*.jpg
package-lock.json
package.json
jest.config.js
babel.config.js
/node_modules
/assets/img/uploads
/assets/img/profiles
/assets/img/banners/user*
/trash
__documentacion__
/utils
*copy.*
.prettierignore
phpunit.xml
.phpunit.cache
tests
test-envio.php

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
