/access-token/client_secret.json
.env
.env_produccion
/vendor
/.vscode
tareas.md
composer.lock 
/access-token/credentials.json 
composer.phar 
tareas.md
README.MD
/master_admin/uploads/*.png
/master_admin/uploads/*.jpg
/__tests__/
package-lock.json
package.json
jest.config.js
babel.config.js
/node_modules
/assets/img/uploads
/trash
__documentacion__
/utils
*copy.*
/assets/img/banners/user*